@page
@model PaisCap.Pages.Paises.IndexModel
@{
    ViewData["Title"] = "All Countries";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-secondary">List of countries and capitals</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secondary" asp-page="/Paises/Create">Enter a new country</a>
        </div>
    </div>

    <br />
    <br />

    @if(Model.Paises.Count() > 0)
     {
        <table id="tblPaises" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Paises.FirstOrDefault().Id)</th>
                    <th>@*@Html.DisplayNameFor(m => m.Paises.FirstOrDefault().Nombre)*@ Name</th>
                    <th>@Html.DisplayNameFor(m => m.Paises.FirstOrDefault().Capital)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pais in Model.Paises)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => pais.Id)</td>
                        <td>@Html.DisplayFor(m => pais.Nombre)</td>
                        <td>@Html.DisplayFor(m => pais.Capital)</td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-page="../Paises/Details" asp-route-id="@pais.Id">Details</a>
                            <a class="btn btn-outline-secondary"  asp-page="../Paises/Edit" asp-route-id="@pais.Id">Edit</a>
                            <a class="btn btn-outline-secondary" asp-page="../Paises/Delete" asp-route-id="@pais.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     }
     else{
        <p>No countries</p>
     }
</div>
